In [2]:
import pandas as pd
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-kachanovskij-24/shared/homeworks/python_ds_miniprojects/2/bookings.csv'
bookings = pd.read_csv(path_to_file, encoding='Windows-1251', sep=';')

In [3]:
bookings.columns = bookings.columns.str.replace(" ", "_")
bookings.rename(str.lower, axis='columns', inplace=True)
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [46]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings['has_kids'] = False
if

In [67]:
top_country = bookings\
    .groupby('hotel')\
    .aggregate({'total_kids': 'mean'})\
    .round(2)

In [68]:
top_country

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [38]:
top_country = bookings \
    .query("reservation_status != 'Check-Out' and hotel == 'City Hotel' and arrival_date_year == '2016'")\
    .groupby(['arrival_date_month']).count()\
    .sort_values('hotel', ascending=False)

In [39]:
top_country

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,
October,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947,1947
June,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720,1720
September,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567,1567
April,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539
May,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436
November,1360,1360,1360,1360,1360,1360,1360,1360,1360,1360,1360,1360,1360,1360,1359,1360,1360,1360,1360,1360
August,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247,1247
March,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108,1108
December,1072,1072,1072,1072,1072,1072,1072,1072,1072,1072,1072,1072,1072,1072,1069,1072,1072,1072,1072,1072
July,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043
February,930,930,930,930,930,930,930,930,930,930,930,930,930,930,930,930,930,930,930,930
January,438,438,438,438,438,438,438,438,438,438,438,438,438,438,438,438,438,438,438,438