In [217]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import scipy as ss
import statsmodels as sm
import statsmodels.formula.api as smf

In [3]:
lesson_4 = pd.read_csv("/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-kachanovskij-24/statistics/experiment_lesson_4.csv")

In [4]:
lesson_4

       order_id  delivery_time  district experiment_group
0          3159           44.0  Purlieus          control
1         10426           51.0  Purlieus          control
2          9155           46.0  Purlieus          control
3         10699           34.0  Purlieus          control
4         10061           43.0  Purlieus          control
...         ...            ...       ...              ...
20191     14561           42.0    Suburb             test
20192     12015           32.0    Suburb             test
20193     20077           23.0  Purlieus             test
20194     14861           41.0   Central             test
20195     13501           41.0   Central             test

[20196 rows x 4 columns]

In [11]:
lesson_4.groupby('experiment_group').agg({'order_id': 'count'})

                  order_id
experiment_group
control              10092
test                 10104

In [54]:
df_test = lesson_4.query('experiment_group == "test"')

In [55]:
df_normal = lesson_4.query('experiment_group == "control"')

In [45]:
ss.stats.shapiro(df_test)

/opt/tljh/user/lib/python3.7/site-packages/scipy/stats/morestats.py:1760: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.9986444711685181, pvalue=1.3960703881821246e-07)

In [51]:
ss.stats.ttest_ind(df_test, df_normal)

Ttest_indResult(statistic=-43.03582663183714, pvalue=0.0)

In [47]:
df_test.std().round(2)

9.88

In [48]:
df_normal.std().round(2)

9.99

In [58]:
df_test_mean = df_test.delivery_time.mean()

In [59]:
df_normal_mean = df_normal.delivery_time.mean()

In [60]:
df_test_mean - df_normal_mean

-6.018287926844998

In [8]:
poverty = 64.78 - 0.62 * 62

In [9]:
poverty

26.340000000000003

In [ ]:
promotion = (receipts - b0 - b1*cost - b3*books)/b2

In [10]:
prom = (150 - 7.68 - 3.66*10 - 0.82*8)/7.62

In [11]:
prom

13.013123359580051

In [12]:
68.7 + (-0.06)*50 + (-0.05)*80 + (-0.57)*90

10.400000000000006

In [ ]:
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

In [152]:
cars = pd.read_csv("/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-kachanovskij-24/statistics/cars.csv")
cars

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [153]:
cars.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [174]:
cars.price

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [155]:
cars['CarMark'] = cars.CarName.apply(lambda x: x.split(' ')[0].lower())

In [156]:
cars.CarMark.nunique()

27

In [157]:
cars.CarMark = cars.CarMark.apply(lambda x: x.replace('maxda', 'mazda'))
cars.CarMark = cars.CarMark.apply(lambda x: x.replace('porcshce', 'porsche'))
cars.CarMark = cars.CarMark.apply(lambda x: x.replace('toyouta', 'toyota'))
cars.CarMark = cars.CarMark.apply(lambda x: x.replace('vokswagen' or 'vw', 'volkswagen'))

In [158]:
cars.CarMark.nunique()

23

In [179]:
cars.corr().round(2)

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,1.00,-0.15,0.13,0.17,0.05,0.26,0.07,-0.03,0.26,-0.16,0.15,-0.02,-0.20,0.02,0.01,-0.11
symboling,-0.15,1.00,-0.53,-0.36,-0.23,-0.54,-0.23,-0.11,-0.13,-0.01,-0.18,0.07,0.27,-0.04,0.03,-0.08
wheelbase,0.13,-0.53,1.00,0.87,0.80,0.59,0.78,0.57,0.49,0.16,0.25,0.35,-0.36,-0.47,-0.54,0.58
carlength,0.17,-0.36,0.87,1.00,0.84,0.49,0.88,0.68,0.61,0.13,0.16,0.55,-0.29,-0.67,-0.70,0.68
carwidth,0.05,-0.23,0.80,0.84,1.00,0.28,0.87,0.74,0.56,0.18,0.18,0.64,-0.22,-0.64,-0.68,0.76
carheight,0.26,-0.54,0.59,0.49,0.28,1.00,0.30,0.07,0.17,-0.06,0.26,-0.11,-0.32,-0.05,-0.11,0.12
curbweight,0.07,-0.23,0.78,0.88,0.87,0.30,1.00,0.85,0.65,0.17,0.15,0.75,-0.27,-0.76,-0.80,0.84
enginesize,-0.03,-0.11,0.57,0.68,0.74,0.07,0.85,1.00,0.58,0.20,0.03,0.81,-0.24,-0.65,-0.68,0.87
boreratio,0.26,-0.13,0.49,0.61,0.56,0.17,0.65,0.58,1.00,-0.06,0.01,0.57,-0.25,-0.58,-0.59,0.55
stroke,-0.16,-0.01,0.16,0.13,0.18,-0.06,0.17,0.20,-0.06,1.00,0.19,0.08,-0.07,-0.04,-0.04,0.08
compressionratio,0.15,-0.18,0.25,0.16,0.18,0.26,0.15,0.03,0.01,0.19,1.00,-0.20,-0.44,0.32,0.27,0.07
horsepower,-0.02,0.07,0.35,0.55,0.64,-0.11,0.75,0.81,0.57,0.08,-0.20,1.00,0.13,-0.80,-0.77,0.81
peakrpm,-0.20,0.27,-0.36,-0.29,-0.22,-0.32,-0.27,-0.24,-0.25,-0.07,-0.44,0.13,1.00,-0.11,-0.05,-0.09
citympg,0.02,-0.04,-0.47,-0.67,-0.64,-0.05,-0.76,-0.65,-0.58,-0.04,0.32,-0.80,-0.11,1.00,0.97,-0.69
highwaympg,0.01,0.03,-0.54,-0.70,-0.68,-0.11,-0.80,-0.68,-0.59,-0.04,0.27,-0.77,-0.05,0.97,1.00,-0.70
price,-0.11,-0.08,0.58,0.68,0.76,0.12,0.84,0.87,0.55,0.08,0.07,0.81,-0.09,-0.69,-0.70,1.00

In [180]:
cars.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
CarMark              object
dtype: object

In [186]:
df_dummy = pd.get_dummies(data=cars[['CarMark', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginetype', 'cylindernumber']], drop_first = True)

In [204]:
df_dummy

,CarMark_audi,CarMark_bmw,CarMark_buick,CarMark_chevrolet,CarMark_dodge,CarMark_honda,CarMark_isuzu,CarMark_jaguar,CarMark_mazda,CarMark_mercury,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [185]:
cars.CarMark

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: CarMark, Length: 205, dtype: object

In [198]:
cars_2 = cars.drop(['CarMark', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginetype', 'cylindernumber'], axis=1)

In [220]:
cars_3 = cars[['wheelbase', 'carlength', 'carwidth', 'carheight', 'boreratio', 'stroke', 'compressionratio', 'price', 'horsepower']]

In [221]:
all_cars = pd.concat([df_dummy, cars_3], axis=1)

In [222]:
all_cars.horsepower

0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: int64

In [211]:
cars_3

,wheelbase,carlength,carwidth,carheight,boreratio,stroke,compressionratio,price
0,88.6,168.8,64.1,48.8,3.47,2.68,9.0,13495.0
1,88.6,168.8,64.1,48.8,3.47,2.68,9.0,16500.0
2,94.5,171.2,65.5,52.4,2.68,3.47,9.0,16500.0
3,99.8,176.6,66.2,54.3,3.19,3.40,10.0,13950.0
4,99.4,176.6,66.4,54.3,3.19,3.40,8.0,17450.0
...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,3.78,3.15,9.5,16845.0
201,109.1,188.8,68.8,55.5,3.78,3.15,8.7,19045.0
202,109.1,188.8,68.9,55.5,3.58,2.87,8.8,21485.0
203,109.1,188.8,68.9,55.5,3.01,3.40,23.0,22470.0
204,109.1,188.8,68.9,55.5,3.78,3.15,9.5,22625.0

In [230]:
import statsmodels.api as sm
import statsmodels.formula.api as smf 

# способ первый
# Y = одномерный массив с ЗП, X - массив со всеми нужными нам НП

x = sm.add_constant(all_cars.horsepower)  # добавить константу, чтобы был свободный член
model = sm.OLS(all_cars.price, x)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       nan
Date:                Thu, 04 Aug 2022   Prob (F-statistic):                nan
Time:                        01:00:46   Log-Likelihood:                -2132.5
No. Observations:                 205   AIC:                             4267.
Df Residuals:                     204   BIC:                             4270.
Df Model:                           0
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
horsepower  1.328e+04    557.966     23.795      0.000    1.22e+04    1.44e+04
==============================================================================
Omnibus:                       77.375   Durbin-Watson:                   0.440
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              180.657
Skew:                           1.765   Prob(JB):                     5.90e-40
Kurtosis:                       5.949   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [232]:
0.653

0.653